* {
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(48, 99, 109) 100%
  );
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
